/* CSS Layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #7e7e7e;
    font-weight: 400;
}

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 15px 0px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.main-header .container-fluid {
    max-width: 1400px;
}

.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.large {
    width: 100%;
    min-height: 1px;
    padding: 0 15px;
}

.line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.element-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}

.element-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.element-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.element-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
}

.element-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.element-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.element-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.element-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}

.element-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    color: #34406c;
    font-family: "Nunito", sans-serif;
}

.btn {
    display: inline-block;
    height: 42px;
    padding: 0 20px;
    text-align: center;
    border: 0;
    line-height: 42px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    box-shadow: 0 6px 16px rgba(146, 90, 164, 0.3);
    white-space: nowrap;
    vertical-align: middle;
    background: linear-gradient(135deg, rgba(48, 194, 241, 1) 0%, rgba(146, 90, 164, 1) 100%);
}

.btn:hover {
    background: linear-gradient(135deg, rgba(146, 90, 164, 1) 0%, rgba(48, 194, 241, 1) 100%);
}

.br-50 {
    border-radius: 50px;
}

.about-section {
    padding: 80px 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

h3 {
    font-size: 24px;
    font-weight: 800;
}

h4 {
    font-size: 20px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
}

button {
    margin: 0;
    overflow: visible;
    line-height: inherit;
    text-transform: none;
    font-family: inherit;
}

/* PASSED */
sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -10px;
    left: -8px;
}

.text-center {
    text-align: center !important;
}

/* CSS Element */

.logo {
    max-width: 155px;
}

a {
    color: #2e3337;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.site-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.d-flex {
    display: flex !important;
}

li.menu-item {
    margin: 0 0 0 30px;
    text-transform: capitalize;
}

li.menu-item:nth-child(4) a,
li.menu-item:nth-child(5) a {
    text-transform: lowercase;
}

li.menu-item a:hover {
    color: #007bff;
}

/* PASSED */
a.get-quote {
    position: relative;
    margin-left: 30px;
    min-width: 150px;
    border-radius: 50px;
    cursor: pointer;
}

a.get-quote::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    box-shadow: 0 0 0 6px rgba(232, 232, 232, 1);
    content: "";
    animation: 2.5s anim-effect-front 0s linear infinite;
}

.about-section .container .line:first-child {
    margin-bottom: 50px;
    align-items: center;
}

/* PASSED */
h2.section-heading {
    position: relative;
    margin: 0 0 25px;
    padding: 0 0 20px;
}

h2.section-heading::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5rem;
    height: 2px;
    background: #39b9eb;
    content: "";
}

h2.section-heading span {
    display: block;
    margin: 0 0 8px;
    font-size: 18px;
    color: #39b9eb;
    text-transform: uppercase;
    font-weight: 600;
}

.about-right {
    border-radius: 20px;
    overflow: hidden;
}

.about-section .what-we-do-item {
    padding: 45px 20px 75px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
    z-index: 5;
    text-align: center;
}

.about-section .what-we-do-item:hover {
    background: linear-gradient(135deg, rgba(146, 90, 164, 1) 0%, rgba(48, 194, 241, 1) 100%);
}

.about-section .what-we-do-item:hover h5.title,
.about-section .what-we-do-item:hover p {
    color: #fff !important;
}

.about-section .what-we-do-item:hover a {
    background-color: #fff;
    color: #41baeb;
}

.about-section .what-we-do-item::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    content: "";
}

.about-section .what-we-do-item > i {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    padding: 22px 0;
    margin: 0 0 25px;
    border-radius: 50px;
    font-size: 23px;
    background: #fff;
    color: #41baeb;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-section .what-we-do-item .title {
    color: #232323;
    font-size: 22px;
}

.about-section .what-we-do-item p {
    padding-top: 10px;
    color: #616161;
    font-size: 15px;
}

.about-section .what-we-do-item a {
    display: inline-block;
    height: 2.8rem;
    width: 2.8rem;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    background: #41baeb;
    color: #fff;
    font-size: 14px;
}

/* Banner section */
/* PASSED */
.b-slide {
    position: relative;
    padding: 70px 0;
    height: calc(100vh - 75px);
    min-height: 585px;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.b-slide::after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
}

.b-slide .container {
    display: flex;
    height: 100%;
    z-index: 10;
    align-items: center;
}

.first-banner {
    background-image: url("../images/banner2.jpg");
}

.first-banner.slick-slide {
    width: 100vw;
}

.banner-caption {
    overflow: hidden;
    z-index: 99;
}

.banner-caption h3,
.banner-caption h1,
.banner-caption p {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.banner-caption h1 {
    margin: 20px 0;
    font-size: 75px;
    font-weight: 800;
}

.banner-caption h3 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.banner-caption p {
    font-weight: 300;
    font-size: 16px;
}

.banner-caption .btn {
    min-width: 175px;
    margin-top: 15px;
}

/* Portfolio section */

.portfolio-section {
    background-color: #f5f7fe;
}

.portfolio-section .portfolio-top {
    padding: 80px 0 175px;
    background: #2fc3f2;
}

.section-header {
    overflow: hidden;
}

#portfolio .section-header .section-heading {
    color: #fff;
}

#portfolio .section-header .section-heading span {
    color: #fff;
}

#portfolio .section-header .section-heading::after {
    background: #fff;
}

#portfolio .section-header p {
    color: #fff;
    font-size: 16px;
}

.portfolio-bottom {
    margin-top: -170px;
    padding-bottom: 80px;
    text-align: center;
}

/* PASSED */
.slick-slider {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.slick-arrow {
    position: absolute;
    top: -150px;
    right: 0;
    height: 3.1rem;
    width: 3rem;
    border-radius: 50%;
    border: 0;
    font-size: 0;
    background: #fff;
    outline: none !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
}

.slick-arrow::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 13px 0;
    font-size: 25px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f105";
}

.slick-list {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slick-track {
    margin: 0 auto;
}

.slick-track::before {
    display: table;
    content: "";
}

.slick-slide {
    display: block;
    width: 65vw;
    min-height: 1px;
    float: left;
}

.slick-next.slick-arrow {
    right: 60px;
}

.slick-next.slick-arrow::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 13px 0;
    font-size: 25px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f104";
}

/* Service section */
.service-section {
    padding: 80px 0;
    background: #f5f7fe;
}

.section-header.text-center h2.section-heading::after {
    margin: 0 auto;
    right: 0;
}

.service-item {
    margin: 0 0 30px;
    padding: 20px;
    text-align: center;
    background: #ffff;
    box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
}

.service-item:hover {
    background: linear-gradient(135deg, rgb(146, 90, 164) 0%, rgb(48, 194, 241) 100%);
}

.service-item:hover .service-thumb,
.service-item:hover h4,
.service-item:hover p {
    color: #fff;
}

.service-item:hover .btn {
    background: #fff;
    color: rgb(48, 194, 241);
}

.service-thumb {
    margin: 15px 0 15px;
    color: #39b9eb;
}

.service-thumb i {
    display: inline-block;
    font-size: 32px;
}

.btn-browse {
    display: block;
    margin: 15px auto 0;
    max-width: 200px;
}

/* Team section */
.team-section {
    padding: 80px 0;
}

.team-list {
    padding-top: 25px;
}

.slick-initialized .slick-slide {
    display: block;
}

.portfolio-bottom .slick-slide img {
    display: inline;
}

.team-member {
    padding: 0 15px;
    outline: none;
}

.team-member-overlay {
    display: flex;
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-wrap: wrap;
    flex-direction: column;
}

.team-member-overlay::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    content: "";
}

/* Counter section */
/* PASSED */
.counter-section {
    position: relative;
    padding: 80px 0;
    background-image: url("../images/bg-one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.counter-section::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 186, 235, 0.95);
    content: "";
}

/* PASSED */
.counter-section > div {
    position: relative;
    z-index: 1;
}

.counter sub {
    display: block;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
}

sub {
    bottom: -0.25em;
}

.counter > span {
    display: block;
    margin: 20px 0 10px;
    font-size: 20px;
}

/* Testimonials section */
.testimonials-section {
    padding: 80px 0;
}

.testimonials-inner {
    display: flex;
    align-items: flex-start;
}

.testimonials-inner .section-header {
    width: 35%;
    padding-top: 20px;
}

.testimonials-wrap {
    width: 65%;
}

.dots-bottom {
    padding-bottom: 30px;
}

.testimonials-slider .slick-list {
    padding: 15px;
}

.slick-track::after {
    clear: both;
}

.slick-track::before,
.slick-track::after {
    display: table;
    content: "";
}

.testimonial-item {
    max-width: 346px;
    padding: 0 10px;
    outline: none;
}

/* PASSED */
.testimonial-content {
    position: relative;
    padding: 15px;
    background: #e9e9e9;
}

.testimonial-content::after {
    display: block;
    position: absolute;
    bottom: -24px;
    left: 20px;
    border-style: solid;
    border-width: 0px 16px 24px 0;
    border-color: transparent #e9e9e9 transparent transparent;
    content: "";
}

.testimonial-author {
    padding: 25px 0 0 35px;
}

.testimonial-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #39b9eb;
}

ul.star-rating {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.star-rating li {
    display: inline-block;
}

ul.star-rating li i.fill {
    color: #fdd01a;
}

.fa-star::before {
    content: "\f005";
}

ul.slick-dots {
    position: absolute;
    right: 20px;
    top: 50px;
    text-align: right;
}

.dots-bottom ul.slick-dots {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.dots-bottom ul.slick-dots li {
    display: inline-block;
    margin: 0 5px;
    list-style: none;
}

.dots-bottom ul.slick-dots li button {
    height: 1rem;
    width: 1rem;
    margin: 0;
    border-radius: 50%;
    background: #e5e5e5;
    z-index: 1;
    outline: none;
}

.dots-bottom ul.slick-dots li button:hover {
    background: linear-gradient(135deg, rgba(146, 90, 164, 1) 0%, rgba(48, 194, 241, 1) 100%);
}

ul.slick-dots li button {
    height: 2px;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: 0;
}

/* News section */
.news-section {
    padding: 80px 0;
    background: #f5f7fe;
}

.blog-item {
    margin: 0 0 30px;
    box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
}

.blog-thumb img {
    width: 100%;
}

.blog-item-content {
    padding: 15px;
    background: #fff;
}

/* Pricing section */
/* PASSED */
.pricing-section {
    position: relative;
    padding: 80px 0;
    background-image: url(../images/bg-one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pricing-section::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 186, 235, 0.95);
    opacity: 0.8;
    content: "";
}
/* PASSED */
.pricing-section .container {
    position: relative;
    z-index: 1;
}

.pricing-item {
    padding: 0px;
    text-align: center;
    border: 2px solid transparent;
}

.pricing-value {
    padding: 50px 30px;
    background: #fff;
}

/* PASSED */
.p-v-per-month {
    display: inline-block;
    position: relative;
    padding: 0px 45px 0 15px;
    margin: 0 0 15px;
    font-size: 70px;
    line-height: 1;
    color: #39bfee;
}

.p-v-per-month span {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 20px;
}

.p-v-per-month em {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-style: normal;
    font-size: 20px;
}

.p-i-middle {
    padding: 30px;
    background: #f5f6ff;
}

.p-i-middle h3 {
    margin: 0 0 20px;
    text-transform: uppercase;
}

.pricing-item ul {
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
}

.pricing-item ul li {
    padding: 6px 0;
    border-top: 1px dashed #ddd;
}

.pricing-item ul li:last-child {
    border-bottom: 1px dashed #ddd;
}

.fa-check::before {
    content: "\f00c";
}

.pricing-item ul li i {
    display: inline;
    margin: 0 10px 0 0;
}

.p-i-middle .btn {
    min-width: 150px;
}

.pricing-item:hover {
    color: #fff;
    border-color: #fff;
    transform: translateY(-8px);
    border: 3px solid #fff;
    background: linear-gradient(135deg, rgba(146, 90, 164, 1) 0%, rgba(48, 194, 241, 1) 100%);
}

.pricing-item:hover .pricing-value,
.pricing-item:hover .p-i-middle {
    background: transparent;
}

.pricing-item:hover .p-v-per-month,
.pricing-item:hover h3 {
    color: #fff;
}

.pricing-item:hover .btn {
    background: #fff;
    color: #222;
}

/* Contact section */
.contact-section {
    padding: 80px 0;
}

.contact-details h3 {
    margin: 0 0 20px 0;
}

.contact-details > .line {
    align-items: unset;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 0;
    box-sizing: content-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border: 0;
    overflow: visible;
}

.contact-info h5 {
    margin: 0 0 20px;
    font-size: 16px;
}

.contact-info h5 i {
    display: inline-block;
    min-width: 28px;
    margin-right: 5px;
    color: #39bfee;
}

.fa-location-pin:before {
    content: "\f041";
}

form {
    display: block;
    margin-top: 0em;
}

/* PASSED */
.contact-form-area .input-box {
    position: relative;
    margin: 0 0 20px;
}

.contact-form-area .input-box input {
    height: 50px;
}

.contact-form-area .input-box i.fa-solid {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #39bfee;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
}

.fa-user:before {
    content: "\f007";
}

textarea {
    overflow: auto;
    resize: vertical;
}

.contact-form-area button.btn {
    margin: 30px 0 0;
}

/* Partner section */
.partner-section {
    padding: 0 0 80px;
}

.partner-section .slick-track {
    display: flex;
}

.partner-item {
    padding: 0 15px;
    filter: grayscale(100%);
    opacity: 0.6;
    cursor: pointer;
    outline: none;
}

.partner-item:hover {
    filter: none;
}

/* Footer section */
/* PASSED */
.main-footer {
    position: relative;
    margin-top: 70px;
    padding: 80px 0 0;
    background: #39bfee;
}

.footer-top {
    display: block;
    width: 100%;
    max-width: 750px;
    margin: 0 auto 40px;
}

.footer-top-logo {
    position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
}

a.footer-logo {
    display: block;
    max-height: 130px;
    max-width: 130px;
    margin: 0px auto 0;
    padding: 30px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 -6px 26px rgba(146, 90, 164, 0.15);
}

a.footer-logo::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    content: "";
}

.footer-top p {
    color: #fff;
}

.footer-section {
    color: #fff;
}

.footer-section i {
    display: inline-block;
    font-size: 28px;
}

.footer-section h3 {
    margin: 10px 0 10px;
    color: #ffff;
    font-size: 20px;
}

.footer-section a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.fa-phone::before {
    content: "\f879";
}

.copyright-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.social-div ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.social-div ul li {
    margin: 0 5px;
}

.social-div ul li a {
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    border: 0;
    font-size: 16px;
    background: #fff;
    color: #39bfee;
}
